{% extends "base.html" %}
{% block main_title%}Cadastro{% endblock %}
{% block first_title %}Alunos{% endblock %}
{% block sub_title %}Cadastro de aluno{% endblock %}
{% block title %}Alunos{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages%}
           {% for msg in messages %}
               <p>{{msg}}</p>
           {% endfor %}
        {% endif%}
    {% endwith %}
    
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cadastro_aluno.css')}}">
</head>
<div class="container">
    <header>Aluno</header>
    <form form action="{{ url_for('cadastro_aluno') }}" method="POST">
        <div class="form first">
            <div class="details personal">
                <span class="title">Dados Pessoais</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Nome</label>
                        <input type="text" name="cd_aluno_nome" placeholder="Nome Completo" required>
                    </div>
                    <div class="input-field">
                        <label>Telefone</label>
                        <input id="inputPhoneForm" name="cd_aluno_telefone" type="tel" placeholder="Telefone" required>
                    </div>
                    <div class="input-field">
                        <label>Gênero</label>
                        <select name="cd_aluno_genero" type="text" placeholder="Gênero">
                            <option disabled>Selecionar Gênero</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Feminino">Feminino</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>RA</label>
                        <input type="text" name="cd_aluno_ra" placeholder="RA" required>
                    </div>
                    
                    <div class="input-field">
                        <label>CPF</label>
                        <input type="text" name="cd_aluno_cpf" placeholder="CPF">
                    </div>
                    <div class="input-field">
                        <label>Email</label>
                        <input type="text" name="cd_aluno_email" placeholder="E-mail" required>
                    </div>
                    <div class="input-field">
                        <label>Data de Nascimento</label>
                        <input type="date" name="cd_aluno_nascimento" required>
                    </div>
                    <div class="input-field">
                        <label>Nome do Responsável 1</label>
                        <input type="text" name="cd_aluno_resp1" placeholder="Nome Completo" required>
                    </div>
                    <div class="input-field">
                        <label>Nome do Responsável 2</label>
                        <input type="text" name="cd_aluno_resp2" placeholder="Nome Completo" required>
                    </div>
                </div>
            </div>
            <div class="details ID">
                <span class="title">Identificação</span>
                <div class="fields">
                    <div class="input-field">
                        <label for="inputEscolaForm">Escola</label>
                        <select id="inputEscolaForm" name="escola" required onchange="getSeries()">
                            <option value="" disabled selected>Selecione a escola</option>
                            {% for escola in escolas %}
                                <option value="{{ escola.id }}">{{ escola.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="inputSerieForm">Série</label>
                        <select id="inputSerieForm" name="serie" required>
                            <option value="" disabled selected>Selecione a série</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Turma</label>
                        <select id="inputTurmaForm" name="cd_aluno_turma" type="text">
                            <option disabled selected>Selecionar</option>
                            <!-- Opções de turmas serão adicionadas dinamicamente aqui -->
                        </select>
                    </div>
                    <div class="input-field">
                        <label for="inputPeriodoForm">Período</label>
                        <select id="inputPeriodoForm" name="periodo" required>
                            <option value="" selected>Selecione o período</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Aluno NEE ?</label>
                        <select name="cd_aluno_nee" type="text">
                            <option disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Toma remédio controlado ?</label>
                        <select name="cd_aluno_remedio" type="text">
                            <option disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Recebe Auxilio ?</label>
                        <select name="cd_aluno_auxilio" type="text">
                            <option disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Aluno PCD ?</label>
                        <select name="cd_aluno_pcd" type="text" required>
                            <option disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <label>Reforço ?</label>
                        <select name="cd_aluno_reforco" type="text">
                            <option disabled selected>Selecionar</option>
                            <option value="Sim">Sim</option>
                            <option value="Não">Não</option>
                        </select>
                    </div>
                </div>
                <div class="details ID">
                    <span class="title">Endereço</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Logradouro</label>
                            <input type="text" name="cd_aluno_rua" placeholder="Rua">
                        </div>
                        <div class="input-field">
                            <label>N°</label>
                            <input type="text" name="cd_aluno_numero" placeholder="N°">
                        </div>
                        <div class="input-field">
                            <label>Bairro</label>
                            <input type="text" name="cd_aluno_bairro" placeholder="Bairro">
                        </div>
                        <div class="input-field">
                            <label>Cidade</label>
                            <input type="text" name="cd_aluno_municipio" placeholder="Município">
                        </div>
                        <div class="input-field">
                            <label>Estado</label>
                            <input type="text" name="cd_aluno_estado" placeholder="Estado">
                        </div>
                        <div class="input-field">
                            <label>CEP</label>
                            <input id="inputCEPForm" name="cd_aluno_cep" type="text" placeholder="CEP">
                        </div>
                    </div>
                    <p><input type="submit" value="Cadastrar" id="btn_add_aluno"/></p>
                </div> 
            </div> 
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/cadastro_aluno.js') }}"></script>
{% endblock %}
