{% extends "base.html" %}
{% block title %}Editar Aluno{% endblock %}
{% block first_title %}Alunos{% endblock %}
{% block main_title %}Editar Aluno{% endblock %}
{% block sub_title %}Editar Aluno{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{ msg }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/editar_aluno.css') }}">
    </head>
    <div class="container">
        <header>Aluno</header>
        <form action="{{ url_for('editar_aluno', aluno_id=aluno.id) }}" method="POST">
            <div class="form first">
                <div class="details personal">
                    <div class="menu_information">
                        <span class="title">Suas informações</span>
                        <div>
                            <input type="radio" name="situacao" value="Ativo" {% if aluno.situacao == 'Ativo' %}checked{% endif %}>Ativo
                            <input type="radio" name="situacao" value="Inativo" {% if aluno.situacao == 'Inativo' %}checked{% endif %}>Inativo
                        </div>
                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label>Nome</label>
                            <input type="text" name="nome" value="{{ aluno.nome }}" required>
                        </div>
                        <div class="input-field">
                            <label>Telefone</label>
                            <input id="inputPhoneForm" type="tel" name="telefone" value="{{ aluno.telefone }}" required>
                        </div>
                        <div class="input-field">
                            <label>Gênero</label>
                            <select required name="genero">
                                <option disabled>Selecionar Gênero</option>
                                <option value="Masculino" {% if aluno.genero == 'Masculino' %}selected{% endif %}>Masculino</option>
                                <option value="Feminino" {% if aluno.genero == 'Feminino' %}selected{% endif %}>Feminino</option>
                                <option value="Outros" {% if aluno.genero == 'Outros' %}selected{% endif %}>Outros</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>RA</label>
                            <input type="text" name="ra" value="{{ aluno.ra }}" required>
                        </div>
                        <div class="input-field">
                            <label>Email</label>
                            <input type="email" name="email" value="{{ aluno.email }}" required>
                        </div>
                        <div class="input-field">
                            <label>Data de Nascimento</label>
                            <input type="text" name="data_nascimento" value="{{ aluno.data_nascimento }}" required>
                        </div>
                        <div class="input-field">
                            <label>CPF</label>
                            <input type="text" name="cpf" value="{{ aluno.cpf }}" required>
                        </div>
                        <div class="input-field">
                            <label>Nome do Pai</label>
                            <input type="text" name="responsavel1" value="{{ aluno.responsavel1 }}" required>
                        </div>
                        <div class="input-field">
                            <label>Nome da Mãe</label>
                            <input type="text" name="responsavel2" value="{{ aluno.responsavel2 }}" required>
                        </div>
                    </div>
                </div>
                <div class="details ID">
                    <span class="title">Identificação Escolar</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Escola</label>
                            <input type="text" value="{{ aluno.escola.nome }}" disabled>
                            <input type="hidden" name="escola_id" value="{{ aluno.escola_id }}">
                        </div>
                        <div class="input-field">
                            <label>Série</label>
                            <input type="text" value="{{ aluno.serie.nome }}" disabled>
                            <input type="hidden" name="serie_id" value="{{ aluno.serie_id }}">
                        </div>
                        <div class="input-field">
                            <label>Turma</label>
                            <input type="text" value="{{ aluno.turma.nome }}" disabled>
                            <input type="hidden" name="turma_id" value="{{ aluno.turma_id }}">
                        </div>
                        <div class="input-field">
                            <label>Período</label>
                            <input type="text" value="{{ aluno.periodo.nome }}" disabled>
                            <input type="hidden" name="periodo_id" value="{{ aluno.periodo_id }}">
                        </div>
                        <div class="input-field">
                            <label>Aluno NEE ?</label>
                            <input type="text" name="aluno_nee" value="{{ aluno.aluno_nee }}">
                        </div>
                        <div class="input-field">
                            <label>Toma remédio controlado?</label>
                            <input type="text" name="remedio_controlado" value="{{ aluno.remedio_controlado }}">
                        </div>
                        <div class="input-field">
                            <label>Recebe Auxílio?</label>
                            <input type="text" name="auxilio" value="{{ aluno.auxilio }}">
                        </div>
                        <div class="input-field">
                            <label>Aluno PCD?</label>
                            <input type="text" name="aluno_pcd" value="{{ aluno.aluno_pcd }}">
                        </div>
                        <div class="input-field">
                            <label>Reforço?</label>
                            <input type="text" name="aluno_reforco" value="{{ aluno.aluno_reforco }}">
                        </div>
                    </div>
                    <div class="details ID">
                        <span class="title">Endereço</span>
                        <div class="fields">
                            <div class="input-field">
                                <label>Logradouro</label>
                                <input type="text" name="rua" value="{{ aluno.rua }}">
                            </div>
                            <div class="input-field">
                                <label>N°</label>
                                <input type="text" name="numero" value="{{ aluno.numero }}">
                            </div>
                            <div class="input-field">
                                <label>Bairro</label>
                                <input type="text" name="bairro" value="{{ aluno.bairro }}">
                            </div>
                            <div class="input-field">
                                <label>Cidade</label>
                                <input type="text" name="cidade" value="{{ aluno.cidade }}">
                            </div>
                            <div class="input-field">
                                <label>Estado</label>
                                <input type="text" name="estado" value="{{ aluno.estado }}">
                            </div>
                            <div class="input-field">
                                <label>CEP</label>
                                <input id="inputCEPForm" type="text" name="cep" value="{{ aluno.cep }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-primary"><i class="fa-regular fa-floppy-disk"></i> Salvar</button>
                    </div> 
                </div> 
            </div>
        </form>
    </div>
      
    <script src="{{ url_for('static', filename='js/aluno.js') }}"></script>
{% endblock %}