{% extends "base.html" %}
{% block main_title%}Editar Professor{% endblock %}
{% block first_title %}Professores{% endblock %}
{% block sub_title %}Professor{% endblock %}
{% block title %}Professor{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages%}
           {% for msg in messages %}
               <p>{{msg}}</p>
           {% endfor %}
        {% endif%}
    {% endwith %}
    
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/editar_professor.css')}}">
    </head>
    <div class="container">
        <header>Professor</header>
        <form action="{{ url_for('editar_professor', professor_id=professor.id) }}" method="POST">
            <div class="form first">
                <div class="details personal">
                    <div class="menu_information">
                        <span class="title">Suas informações</span>
                        <div>
                            <input type="radio" name="edit_professor_situacao" value="Ativo" {% if professor.situacao == 'Ativo' %}checked{% endif %}>Ativo
                            <input type="radio" name="edit_professor_situacao" value="Inativo" {% if professor.situacao == 'Inativo' %}checked{% endif %}>Inativo
                        </div>
                    </div>
                    <div class="fields">
                        <div class="input-field">
                            <label>Nome</label>
                            <input type="text" name="edit_professor_nome" value="{{ professor.nome }}" required>
                        </div>
                        <div class="input-field">
                            <label>Telefone</label>
                            <input id="inputPhoneForm" name="edit_professor_telefone" type="tel" value="{{ professor.telefone }}" required>
                        </div>
                        <div class="input-field">
                            <label>Gênero</label>
                            <select required name="edit_professor_genero">
                                <option disabled>Selecionar Gênero</option>
                                <option value="Masculino" {% if professor.genero == 'Masculino' %}selected{% endif %}>Masculino</option>
                                <option value="Feminino" {% if professor.genero == 'Feminino' %}selected{% endif %}>Feminino</option>
                                <option value="Outros" {% if professor.genero == 'Outros' %}selected{% endif %}>Outros</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>CPF</label>
                            <input type="text" name="edit_professor_cpf" value="{{ professor.cpf }}" required>
                        </div>
                        
                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" name="edit_professor_email" value="{{ professor.email }}" required>
                        </div>
                        <div class="input-field">
                            <label>Data de Nascimento</label>
                            <input type="date" name="edit_professor_nascimento" value="{{ professor.data_nascimento }}"required>
                        </div>
                    </div>
                </div>
                <div class="details ID">
                    <span class="title">Identificação</span>
                    <div class="fields">
                        <div class="input-field">
                            <label>Matrícula</label>
                            <input type="text" name="edit_professor_matricula" value="{{ professor.matricula }}">
                        </div>
                        <div class="input-field">
                            <label>Lotação</label>
                            <input type="text" name="edit_professor_lotacao" value="{{ professor.lotacao }}">
                        </div>
                        <div class="input-field">
                            <label>Cargo</label>
                            <input type="text" value="{{ professor.cargo }}" disabled>
                        </div>
                        <div class="input-field">
                            <label>Tipo</label>
                            <select id="edit_professor_tipo" name="edit_professor_tipo" required>
                                <option disabled>Selecionar Gênero</option>
                                <option value="PEB 1" {% if professor.add1 == 'PEB 1' %}selected{% endif %}>PEB 1</option>
                                <option value="PEB 2" {% if professor.add1 == 'PEB 2' %}selected{% endif %}>PEB 2</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Disciplina</label>
                            <select id="edit_professor_disciplina" name="edit_professor_disciplina" data-selecionada="{{ professor.add2 }}" required>
                                <option disabled>Selecionar Disciplina</option>
                                <!-- As opções serão carregadas dinamicamente -->
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Pós-Graduação</label>
                            <select name="edit_professor_pos" type="text">
                                <option value="0" {% if professor.add3 == '0' %}selected{% endif %}>0</option>
                                <option value="1" {% if professor.add3 == '1' %}selected{% endif %}>1</option>
                                <option value="2" {% if professor.add3 == '2' %}selected{% endif %}>2</option>
                                <option value="3" {% if professor.add3 == '3' %}selected{% endif %}>3</option>
                            </select>
                        </div>
                    </div>
                <div class="details ID">
                    <span class="title">Local de Trabalho</span>
                    <div class="fields">
                        <div class="input-field">
                            <label for="inputEscolaForm">Escola</label>
                            <input type="text" value="{{ escola_nome }}" disabled>
                        </div>
                        <div class="input-field">
                            <label for="inputSerieForm">Série</label>
                            <input type="text" value="{{ serie_nome }}" disabled>
                        </div>
                        <div class="input-field">
                            <label>Turma</label>
                            <input type="text" value="{{ turma_nome }}" disabled>
                        </div>
                        <div class="input-field">
                            <label for="inputPeriodoForm">Período</label>
                            <select id="inputPeriodoForm" name="edit_professor_periodo" required>
                                <option value="Manhã" {% if professor.periodo == 'Manhã' %}selected{% endif %}>Manhã</option>
                                <option value="Tarde" {% if professor.periodo == 'Tarde' %}selected{% endif %}>Tarde</option>
                                <option value="Expediente" {% if professor.periodo == 'Expediente' %}selected{% endif %}>Expediente</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>É efetivo ?</label>
                            <select name="edit_professor_efetivo" type="text">
                                <option disabled selected>Selecionar</option>
                                <option value="Sim" {% if professor.efetivo == 'Sim' %}selected{% endif %}>Sim</option>
                                <option value="Não" {% if professor.efetivo == 'Não' %}selected{% endif %}>Não</option>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Formação ?</label>
                            <select name="edit_professor_formacao" type="text">
                                <option disabled selected>Selecionar</option>
                                <option value="Ensino Médio" {% if professor.formacao == 'Ensino Médio' %}selected{% endif %}>Ensino Médio</option>
                                <option value="Ensino Superior" {% if professor.formacao == 'Ensino Superior' %}selected{% endif %}>Ensino Superior</option>
                                <option value="Outros" {% if professor.formacao == 'Outros' %}selected{% endif %}>Outros</option>
                            </select>
                        </div>   
                    </div>
                    <div class="details ID">
                        <span class="title">Endereço</span>
                        <div class="fields">
                            <div class="input-field">
                                <label>CEP</label>
                                <input id="inputCEPForm" name="edit_professor_cep" type="text" value="{{ professor.cep }}" onblur="buscarCEP()">
                            </div>
                            <div class="input-field">
                                <label>Logradouro</label>
                                <input id="logradouro" type="text" name="edit_professor_rua" value="{{ professor.rua }}">
                            </div>
                            <div class="input-field">
                                <label>N°</label>
                                <input id="numero" type="text" name="edit_professor_numero" value="{{ professor.numero }}">
                            </div>
                            <div class="input-field">
                                <label>Bairro</label>
                                <input id="bairro" type="text" name="edit_professor_bairro" value="{{ professor.bairro }}">
                            </div>
                            <div class="input-field">
                                <label>Cidade</label>
                                <input id="cidade" type="text" name="edit_professor_cidade" value="{{ professor.cidade }}">
                            </div>
                            <div class="input-field">
                                <label>Estado</label>
                                <input id="estado" type="text" name="edit_professor_estado" value="{{ professor.estado }}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-primary"><i class="fa-regular fa-floppy-disk"></i> Salvar</button>
                    </div> 
                </div> 
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/professor.js') }}"></script>
{% endblock %}