{% extends "base.html" %}
{% block main_title%}Usuários{% endblock %}
{% block first_title %}User{% endblock %}
{% block sub_title %}Usuários{% endblock %}
{% block title %}Usuários{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      {% if category == 'success' %}
        <div id="success-message" class="alert alert-success">
          {{ message }}
        </div>
        <script>
            setTimeout(function() {
              var successMessage = document.getElementById('success-message');
              if (successMessage) {
                successMessage.remove();
              }
            }, 10000);
          </script>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="{{ url_for('static', filename='styles/usuarios.css')}}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
</head>
<body>
    
    <div class="navegacao-menu-usuarios">
        <div>
            <select id="filtroOpcao">
              <option value="1">Filtrar por Nome</option>
              <option value="2">Filtrar por Matrícula</option>
            </select>
        </div>
        <div id="pesquisa-user">
            <input type="text" id="myInput" onkeyup="filtrarTabela()" placeholder="Pesquisar por nome...">
            <span id="icon-pesquisa" class="material-symbols-outlined">
            search
            </span>
        </div>
        <div>
            <a id="btn-user" href="/cadastro">Novo Usuário <span class="material-symbols-outlined">
                add
                </span></a>
        </div>
    </div>
    <div>
        <table id="tabelaUsuarios">
            <thead>
            <tr> 
                <th><input type='checkbox' id='checkAll'></th>
                <th>Nome</th>
                <th>Matricula</th>
                <th>Nível de Acesso</th>
                <th>Cadastrado</th>
                <th>Local de Trabalho</th>
                <th>Status</th>    
                <th>Ação</th>
            </tr>
            </thead>
            <tbody id="corpoTabela">
            </tbody>
        </table>
    
        <div id="menu-paginacao">
            <div>
                <h2 id="quantidadeUsuarios"></h2>
            </div>
            <div class="pagination" id="paginacao">
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/usuarios.js') }}"></script>
</body>
</html>

{% endblock %}